<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>special you</title>
</head>
<body>

  <div class="user-detail">
    <form action="/users/create" method="POST">
        <label>First Name</label>
        <input type="text" placeholder="Enter First Name" name="firstname" required>
        <label>Last Name</label>
        <input type="text" placeholder="Enter Last Name" name="lastname" required>
        <label>Email Address</label>
        <input type="email" placeholder="Enter Email Address" name="email" required>
        <label>City</label>
        <input type="city" placeholder="Enter Full City" name="city" required>
          
        <button type="submit">Submit</button>
    </form>
  </div>

</body>
</html>
